In [2]:
from matplotlib import pyplot as plt
import pandas as pd
import seaborn as sns
import numpy as np
import zipfile
import random

In [3]:
def load_data(filename : str, ds : str) -> pd.DataFrame:
    dfs = []
    with zipfile.ZipFile(filename, 'r') as trg_zip:
        for item in trg_zip.namelist():
            if ds in item:
                with trg_zip.open(item) as trg_file:
                    dfs.extend(pd.read_html(trg_file, encoding='cp1250'))
    return pd.concat(dfs)
df = load_data('data_23_24.zip', 'nehody')
print(df)

                 p1         p2a   p2b  p4a  p4b  p4c  p5a  p6  p7  p8  ...  \
0       10623000002  01.01.2023  1730    1    7   12    2   5   0   0  ...
1       60223000039  10.01.2023   916    6    2   10    1   3   0   3  ...
2          23000455  15.01.2023  1930    0   11   20    1   1   4   0  ...
3       70623000019  10.01.2023   815    7    6   18    2   5   0   0  ...
4      161723000024  11.01.2023  1730   16   17   17    2   5   0   0  ...
...             ...         ...   ...  ...  ...  ...  ...  ..  ..  ..  ...
69696  140824000888  04.10.2024   620   14    8   17    2   5   0   0  ...
69697  140824000887  03.10.2024  2230   14    8   17    2   5   0   0  ...
69698  140824000886  03.10.2024  2030   14    8   19    2   5   0   0  ...
69699  140824000885  03.10.2024  1260   14    8   19    1   3   0   6  ...
69700   11624000662  03.10.2024  1010    1   16   21    2   1   4   0  ...

       p24  p27  p28  p34  p35  p36      p37      p38  p39  Unnamed: 38
0        0    0    1    1    0    1     16.0   7532.0  NaN          NaN
1        3    0    5    1   10    6      NaN      NaN  6.0          NaN
2        0   10    1    2    0    6      NaN      NaN  NaN          NaN
3        0    0    1    1    0    2    460.0   1275.0  NaN          NaN
4        0    0    1    1    0    6      NaN      NaN  NaN          NaN
...    ...  ...  ...  ...  ...  ...      ...      ...  ...          ...
69696    0    0    1    1    0    3  43714.0    223.0  NaN          NaN
69697    0    0    1    1    0    3   4348.0    856.0  NaN          NaN
69698    0    0    1    1    0    2    150.0  15407.0  NaN          NaN
69699    0    0    1    1    0    6      NaN      NaN  NaN          NaN
69700    0    0    1    3    0    0      6.0     57.0  NaN          NaN

[164646 rows x 39 columns]

In [5]:
def parse_data(df: pd.DataFrame, verbose: bool = False) -> pd.DataFrame:
    new_df = df.copy()
    
    new_df['date'] = pd.to_datetime(df['p2a'], dayfirst=True, yearfirst=False, format=None, errors='coerce')
    
    region_dict = {0: "PHA", 1: "STC", 2: "JHC", 3: "PLK", 4: "ULK", 5: "HKK",6:
    "JHM", 7: "MSK", 14: "OLK", 15: "ZLK", 16: "VYS", 17: "PAK", 18:
    "LBK", 19: "KVK"}
    new_df['region'] = new_df['p4a'].apply(lambda x: region_dict[x]) 

    new_df.drop_duplicates(subset=['p1'], inplace=True)
    
    if verbose:
        new_size = new_df.memory_usage(deep=True).sum()/1_000_000
        print(f'new_size={new_size} MB')
    return new_df

out = parse_data(df, True)

new_size=70.962426 MB
0        STC
1        JHM
2        PHA
3        MSK
4        VYS
        ...
69696    OLK
69697    OLK
69698    OLK
69699    OLK
69700    STC
Name: region, Length: 164646, dtype: object

In [ ]:
# Ukol 3: počty nehod v jednotlivých regionech podle stavu vozovky
def plot_state(df: pd.DataFrame, fig_location: str = None,
                    show_figure: bool = False):
    pass

In [ ]:
164646

                values
names
retezec2  99999.799644
retezec4  99999.799644
retezec3  99999.799644
retezec4  99999.799644
retezec4  99999.799644
...                ...
retezec1  99999.799644
retezec2  99999.799644
retezec1  99999.799644
retezec1  99999.799644
retezec4  99999.799644

[1000000 rows x 1 columns]